name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  build:
    uses: powsybl/github-ci/.github/workflows/build-backend-app-generic.yml@c81718897ef649fcdc685955a094bf724bf7fa9e
    with:
      sonarOrganization: powsybl-ci-github
      sonarProjectKey: com.powsybl:powsybl-single-line-diagram-server
      dockerImage: docker.io/powsybl/single-line-diagram-server
      dockerUsername: powsyblci
      eventOrganizations: gridsuite
      eventType: single_line_diagram_server_updated
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
      docker-token: ${{ secrets.DOCKERHUB_TOKEN }}
      repo-token: ${{ secrets.REPO_ACCESS_TOKEN }}
