name: Patch

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: version to patch (vX.X)
        required: true

jobs:
  run-patch:
    uses: powsybl/github-ci/.github/workflows/patch-backend-app-generic.yml@c81718897ef649fcdc685955a094bf724bf7fa9e
    with:
      githubappId: ${{ vars.POWSYBL_ACTIONS_APPID }}
      sonarOrganization: powsybl-ci-github
      sonarProjectKey: com.powsybl:powsybl-single-line-diagram-server
      dockerImage: docker.io/powsybl/single-line-diagram-server
      dockerUsername: powsyblci
      releaseVersion: ${{ github.event.inputs.releaseVersion }}
    secrets:
      githubappPrivateKey: ${{ secrets.POWSYBL_ACTIONS_SECRET }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}
      docker-token: ${{ secrets.DOCKERHUB_TOKEN }}

